
/* Estilos generales */
body {
    font-family:'Lora', serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
}

/* Estilos para la sección del logo */
.logo img {
    width: 200px;
    height: auto;
}

.Titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
  }


/* Secciones de iconos */
.seccion-iconos {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.seccion-iconos i {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 65px;
}

.seccion-iconos i:hover{
  background-color: #11748d;
  font-size: 68px;
}

.seccion-calendario i {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    font-size: 65px;
}
a{
    text-decoration: none;
    color: white;
}
.form-message p {
  text-align: center;
  font-size: 1.6rem;
}

.form-message-red {
  background-color: #ffb3b3;
  border: 2px solid #ff0000;
}

.form-message-green {
  background-color: lightgreen;
  border: 2px solid green;
}

.form-sub-msg {
  margin: 20px auto 0 auto;
  width: 90%;
  max-width: 560px;
  color: #00334d;
}


a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .form-container {
    width: 50%;
    padding: 20px;
    margin: 5px;
  }
  
  .form-container h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
  }

  select {
    font-size: 16px; /* Tamaño de fuente */
    padding: 10px; /* Espaciado interno */
}

/* Aplicar estilos a las opciones del menú desplegable */
option {
    font-size: 14px; /* Tamaño de fuente para las opciones */
}
  
  .form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px;
  }
  
  .form-group button {
    padding: 10px 20px;
    background-color: #333;;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reserva-image {
    width: 50%;
    text-align: center;
  }
  
  .reserva-image img {
    max-width: 100%;
    height: auto;
    margin: 5px;
    border-radius: 20px;
  }
  

  footer
  {
      background-color: #333;
      box-sizing: border-box;      
  }
  
  .footerContainer
  {
      padding: 70px 30px 20px;
  }
  .socialIcons 
  {
      display: flex;
      justify-content: center;
  }
  .socialIcons a 
  {
      text-decoration: none;
      padding: 10px;
      background-color: white;
      margin: 10px;
      border-radius: 50%;
  }
  .socialIcons a i
  {
      font-size: 2em;
      color: black;
      opacity: 0.9;
  }
  .socialIcons a:hover
  {
      background-color: #111;
      transition: 0.5s;
  }
  
  .socialIcons a:hover i {
      color: white;
      transition: 0.5s;
  }
  
  .footerNav ul 
  {
      display: flex;
      justify-content: center;
      margin: 30px;
      list-style-type: none;
  }
  .footerNav ul li a 
  {
      color: white;
      margin-right: 20px;
      margin-top: 30px;
      text-decoration: none;
      font-size: 1.3em;
      opacity: 0.7s;
      transition: 0.5s;
  }
  .footerNav ul li a:hover {
      opacity: 1;
  }
  .footerBottom 
  {
      background-color:#333;;
      padding: 20px;
      text-align: center;
      width: 100%;
  }
  .footerBottom p
  {
      color: white;
  }
  .designer
  {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0px 5px;
      color: gold;
  }
  
  
  
#errores
{
  align-items: center;
  background-color: #ff0000;
  
}

@media only screen and (max-width: 767px) {
    header {
        flex-direction: column; /* Cambia el diseño del encabezado a columna */
        text-align: center;
    }
  }
  
  /* Media Query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
  @media only screen and (max-width: 480px) {
    header {
        padding: 5px; /* Cambia el relleno del encabezado */
    }
    .Titulo{
        font-size: 20px;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;

    }
  
  }
  
  /* Media Query para tablets (Ancho de pantalla de 768px a 1024px) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 10px 15px; /* Ajusta el relleno del encabezado */
    }
  }
  
  /* Media Query para Laptops (Ancho de pantalla de 1025px en adelante) */
  @media only screen and (min-width: 1025px) {
    header {
        padding: 10px 20px; /* Ajusta el relleno del encabezado */
    }
  }